@import "../../../scss/main.scss";

.vot {
  &__button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 7px 18px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    transition: width 2s ease-in-out 1s;
  }
}
.primary {
  background-color: $secondaryColor;
  color: #fff;
}

.outlineBase {
  background-color: transparent;
  border: 1px solid $baseColor;
  color: $baseColor;
}

.empty {
  background-color: transparent;
  border: none;
  color: $uiColor2;
  &:hover {
    outline: 1px solid $secondaryColor;
    color: $secondaryColor;
  }
}

.raw {
  background-color: transparent;
  border: 1px solid $uiColor4;
  color: $uiColor2;
  &active {
    outline: 1px solid $secondaryColor;
  }
}
