// ─── Brand ───────────────────────────────────────────────────────────────────

$primaryColor: #5d00ff;
$complementaryColor: #a2ff00;
$backGroundColor: #333;
$baseColor: #fff;

$secondaryColor: #ffd700;
$textColor: #b5b5b5;
$textColorBlack: #333;

/*  */

// ─── Ui ──────────────────────────────────────────────────────────────────────

$uiColor1: #231f20;
$uiColor2: rgba(#231f20, 0.95);
$uiColor3: #ccc;

/* $uiColor2: #4e4e4e;
$uiColor4: #ebebeb; */

// ─── Support ─────────────────────────────────────────────────────────────────

$successColor: #4fba2a;
$warningColor: #e39e18;
$errorColor: #ea5455;
$infoColor: #000;
