@import "/src/style/main.scss";

.sectionContainerRow {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 20px 0px;

  &__title {
    margin-right: 50px;
    width: 100px;
    display: flex;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
