@import "/src/style/main.scss";
.buttonRound {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
  background-color: $baseColor;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.primary {
  background-color: $primaryColor;
  color: #fff;
}

.secondary {
  background-color: $secondaryColor;
  color: #fff;
}

.outlineBase {
  background-color: transparent;
  border: 1px solid $baseColor;
  color: $baseColor;
}
.outlinePrimary {
  background-color: transparent;
  border: 1px solid $primaryColor;
  color: $primaryColor;
}
.outlineSecondary {
  background-color: transparent;
  border: 1px solid $secondaryColor;
  color: $secondaryColor;
}

.empty {
  background-color: transparent;
  border: none;
  color: $baseColor;
  &:hover {
    outline: 1px solid $baseColor;
    color: $baseColor;
  }
}

.raw {
  background-color: transparent;
  border: none;
  color: $uiColor2;
  &active {
    outline: 1px solid $secondaryColor;
  }
}
